---
services:
  monocker:
    image: docker.io/petersem/monocker:latest
    container_name: monocker
    environment:
      SERVER_LABEL: "{{ ansible_hostname }}"
      MESSAGE_PLATFORM: "telegram@{{ telegram_token }}@{{ telegram_chatids }}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped
