---
services:
  glances:
    image: docker.io/nicolargo/glances:3.4.0.4-full
    container_name: glances
    security_opt:
      - no-new-privileges:true
    pid: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 61208:61208
    environment:
      - "GLANCES_OPT=--webserver --disable-webui"
    restart: unless-stopped
