---
services:
  dozzle:
    image: docker.io/amir20/dozzle:v6.2.2
    container_name: dozzle
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - proxy
    security_opt:
      - no-new-privileges:true
    environment:
      DOZZLE_LEVEL: debug
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.dozzle.rule=Host(`dozzle.{{ domain }}`)
      - traefik.http.routers.dozzle.tls=true
      - traefik.http.routers.dozzle.service=dozzle
      - traefik.http.services.dozzle.loadbalancer.server.port=8080
      - homepage.group=Monitor
      - homepage.name=Dozzle
      - homepage.icon=dozzle
      - homepage.href=https://dozzle.{{ domain }}

networks:
  proxy:
    external: true
