---
- Network:
    - Router:
        href: {{ router_href | default() }}
        icon: asus-router
    - Pi-hole (primary):
        href: {{ pihole_primary_href | default() }}
        icon: pi-hole
    - Pi-hole (secondary):
        href: {{ pihole_secondary_href | default() }}
        icon: pi-hole

- Smart Home:
    - Zigbee2Mqtt:
        href: {{ zigbee2mqtt_href | default() }}
        icon: zigbee2mqtt

- Media:
    - Navidrome:
        href: {{ navidrome_href | default() }}
        icon: navidrome
    - Jellyfin:
        href: {{ jellyfin_href | default() }}
        icon: jellyfin
    - Audiobookshelf:
        href: {{ audiobookshelf_href | default() }}
        icon: audiobookshelf

- Monitor:
    - Gatus (RPi 3):
        href: http://{{ rpi3_ip  | default() }}:8080
        icon: gatus
    - Gatus (OCI 0):
        href: {{ gatus0_href | default() }}
        icon: gatus
    - Gatus (OCI 1):
        href: {{ gatus1_href | default() }}
        icon: gatus
    - Healthchecks (OCI 0):
        href: {{ healthchecks0_href | default() }}
        icon: healthchecks
    - Healthchecks (OCI 1):
        href: {{ healthchecks1_href | default() }}
        icon: healthchecks
