!pihole/etc-pihole/adlists.list
.venv
__pycache__
heimdall/.env
heimdall/config/
homeassistant/config/*.log*
homeassistant/config/.HA_VERSION
homeassistant/config/.storage/
homeassistant/config/home-assistant_v2.db*
homeassistant/config/secrets.yaml
homeassistant/config/sensor/fund.yaml
homeassistant/config/sensor/stock.yaml
homeassistant/config/tts/
mosquitto/config/passwd
mosquitto/data/
mosquitto/log/
pihole/etc-pihole/*
syncthing/config/
traefik/.env
traefik/.htpasswd
traefik/acme.json
traefik/log/
zigbee2mqtt/data/coordinator_backup.json
zigbee2mqtt/data/database.db
zigbee2mqtt/data/log/
zigbee2mqtt/data/secret.yaml
zigbee2mqtt/data/state.json
