.venv
__pycache__
homeassistant/config/*.log*
homeassistant/config/.HA_VERSION
homeassistant/config/.storage/
homeassistant/config/secrets.yaml
homeassistant/config/sensor/fund.yaml
homeassistant/config/sensor/stock.yaml
homeassistant/config/tts/
mosquitto/config/passwd
mosquitto/data/
mosquitto/log/
syncthing/config/
zigbee2mqtt/data/coordinator_backup.json
zigbee2mqtt/data/database.db
zigbee2mqtt/data/log/
zigbee2mqtt/data/secret.yaml
zigbee2mqtt/data/state.json
znc/config/
