---
services:
  tailscale:
    image: docker.io/tailscale/tailscale:v1.50.0
    container_name: tailscaled
    network_mode: host
    volumes:
      - /var/lib:/var/lib
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - NET_RAW
    restart: unless-stopped
    command: tailscaled
{% if tailscale_homepage_labels %}
    labels:
      - homepage.group=Network
      - homepage.name=Tailscale
      - homepage.icon=tailscale
      - homepage.href=https://login.tailscale.com
{% endif %}
