---
services:
  tailscale:
    image: docker.io/tailscale/tailscale:v1.76.6
    container_name: tailscaled
    network_mode: host
    security_opt:
      - no-new-privileges:true
    volumes:
      - /var/lib:/var/lib
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - NET_RAW
    restart: unless-stopped
    command: tailscaled
