---
services:
  duckdns:
    image: lscr.io/linuxserver/duckdns:45e56094-ls134
    container_name: duckdns
    environment:
      - SUBDOMAINS={{ duckdns_domain }}
      - TOKEN={{ duckdns_token }}
    restart: unless-stopped
    labels:
      - homepage.group=Network
      - homepage.name=Duck DNS
      - homepage.icon=duckdns
      - homepage.href=https://www.duckdns.org/
