---
services:
  github-deploy:
    container_name: github-deploy
    build:
      context: .
    security_opt:
      - no-new-privileges:true
    environment:
      - "GITHUB_ACCESS_TOKEN={{ github_token }}"
    volumes:
      - ./processed_runs.txt:/app/processed_runs.txt
      - ~/smart-home:/smart-home
      - ~/.ssh/id_rsa:/root/.ssh/id_rsa:ro
    restart: unless-stopped
