---
services:
  diun:
    image: docker.io/crazymax/diun:4.24.0
    container_name: diun
    command: serve
    volumes:
      - ./data:/data
      - ./diun.yaml:/diun.yaml:ro
      - ./config.yaml:/config.yaml:ro
    environment:
      - "TZ=Europe/Stockholm"
      - "DIUN_NOTIF_TELEGRAM_TOKEN={{ telegram_token }}"
      - "DIUN_NOTIF_TELEGRAM_CHATIDS={{ telegram_chatids }}"
    labels:
      - homepage.group=Monitor
      - homepage.name=Diun
      - homepage.icon=https://github.com/crazy-max/diun/blob/master/docs/assets/logo.png?raw=true
    restart: unless-stopped
