---
services:
  healthchecks:
    image: docker.io/healthchecks/healthchecks:v3.4
    container_name: healthchecks
{% if healthchecks_network is defined %}
    networks:
      - {{ healthchecks_network }}
{% endif %}
    security_opt:
      - no-new-privileges:true
    ports:
      - 8000:8000
    environment:
      - DB=sqlite
      - DB_NAME=/data/hc.sqlite
      - DEBUG=False
      - SECRET_KEY={{ healthchecks_secret_key }}
    volumes:
      - ./data:/data
      - ./uwsgi.ini:/opt/healthchecks/docker/uwsgi.ini:ro
    restart: unless-stopped

{% if healthchecks_network is defined %}
networks:
  {{ healthchecks_network }}:
    name: {{ healthchecks_network }}
    driver: bridge
{% endif %}
