debug: true

endpoints:
{% for endpoint in gatus_icmp_endpoints %}
  - name: {{ endpoint.name }}
    url: "icmp://{{ endpoint.url }}"
    interval: 5m
    conditions:
      - "[CONNECTED] == true"
{% endfor %}
{% for endpoint in gatus_dns_endpoints %}
  - name: {{ endpoint.name }}
    url: "{{ endpoint.server }}"
    dns:
      query-name: "{{ endpoint.query }}"
      query-type: "A"
    conditions:
      - "[BODY] == {{ endpoint.body }}"
      - "[DNS_RCODE] == NOERROR"
{% endfor %}
