---
debug: true

ui:
  header: "Gatus {{ ansible_hostname }}"

alerting:
  telegram:
    token: "{{ telegram_token }}"
    id: "{{ telegram_chatids }}"
    default-alert:
      enabled: true
      failure-threshold: 3
      success-threshold: 3
      send-on-resolved: true
      description: "Sent from {{ ansible_hostname }}"

endpoints:
{% if gatus_tailscale_devices.json is defined %}
{% for device in gatus_tailscale_devices.json.devices %}
{% if device.hostname not in gatus_tailscale_devices_ignore %}
  - name: {{ device.hostname }}
    group: Servers
    url: "icmp://{{ device.addresses[0] }}"
    interval: 5m
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: telegram
{% endif %}
{% endfor %}
{% endif %}
{% for endpoint in gatus_icmp_endpoints %}
  - name: {{ endpoint.name }}
    group: Servers
    url: "icmp://{{ endpoint.url }}"
    interval: 5m
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: telegram
{% if endpoint.failure_threshold is defined %}
        failure-threshold: {{ endpoint.failure_threshold }}
{% endif %}
{% if endpoint.success_threshold is defined %}
        success-threshold: {{ endpoint.success_threshold }}
{% endif %}
{% endfor %}
{% for endpoint in gatus_dns_endpoints %}
  - name: {{ endpoint.name }}
    group: DNS
    url: "{{ endpoint.server }}"
    interval: 5m
    dns:
      query-name: "{{ endpoint.query }}"
      query-type: "A"
    conditions:
      - "[BODY] == {{ endpoint.body }}"
      - "[DNS_RCODE] == NOERROR"
    alerts:
      - type: telegram
{% if endpoint.failure_threshold is defined %}
        failure-threshold: {{ endpoint.failure_threshold }}
{% endif %}
{% if endpoint.success_threshold is defined %}
        success-threshold: {{ endpoint.success_threshold }}
{% endif %}
{% endfor %}
{% for endpoint in gatus_healthcheck_endpoints %}
  - name: {{ endpoint.name }}
    group: Healthchecks
    url: "{{ gatus_healthchecks_url }}:8000/api/v3/checks/{{ endpoint.uuid }}"
    headers:
      X-Api-Key: {{ healthchecks_api_key }}
    interval: 15m
    conditions:
      - "[BODY].status == any(grace, up)"
    alerts:
      - type: telegram
{% if endpoint.failure_threshold is defined %}
        failure-threshold: {{ endpoint.failure_threshold }}
{% endif %}
{% if endpoint.success_threshold is defined %}
        success-threshold: {{ endpoint.success_threshold }}
{% endif %}
{% endfor %}
  - name: Audiobookshelf
    group: Services
    url: "http://{{ chewbacca_ip_tailscale }}:13378/healthcheck"
    headers:
      Authorization: Bearer {{ audiobookshelf_api_token }}
    interval: 15m
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: telegram
  - name: Jellyfin
    group: Services
    url: "http://{{ chewbacca_ip_tailscale }}:8096/System/Info"
    headers:
      X-MediaBrowser-Token: {{ jellyfin_api_token }}
    interval: 15m
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: telegram
  - name: Navidrome
    group: Services
    url: "http://{{ chewbacca_ip_tailscale }}:4533/rest/ping?{{ navidrome_api_token }}"
    interval: 15m
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: telegram


external-endpoints:
{% for endpoint in gatus_external_endpoints %}
  - name: {{ endpoint.name }}
    group: External
    token: "gatus"
    alerts:
      - type: telegram
{% endfor %}
