---
services:
  dash:
    image: docker.io/mauricenino/dashdot:5.3.0
    container_name: dashdot
    privileged: true
    security_opt:
      - no-new-privileges:true
    environment:
      DASHDOT_SHOW_HOST: "true"
      DASHDOT_CUSTOM_HOST: "{{ ansible_hostname }}"
      DASHDOT_SHOW_DASH_VERSION: "bottom_right"
      DASHDOT_ALWAYS_SHOW_PERCENTAGES: "true"
    ports:
      - 3001:3001
    volumes:
      - /:/mnt/host:ro
    restart: unless-stopped
