---
version: 2

backends:
  backblaze-homeassistant:
    type: b2
    path: smart-home-bucket:homeassistant
    key: "{{ backblaze_homeassistant_key }}"
    env:
      B2_ACCOUNT_ID: "{{ b2_account_id }}"
      B2_ACCOUNT_KEY: "{{ b2_account_key }}"
  backblaze-zigbee2mqtt:
    type: b2
    path: smart-home-bucket:zigbee2mqtt
    key: "{{ backblaze_zigbee2mqtt_key }}"
    env:
      B2_ACCOUNT_ID: "{{ b2_account_id }}"
      B2_ACCOUNT_KEY: "{{ b2_account_key }}"

locations:
  homeassistant:
    from: {{ services_path }}/homeassistant
    to:
      - backblaze-homeassistant
    forget: prune
    options:
      backup:
        host: homeassistant
      forget:
        keep-last: 2
        keep-daily: 3
        keep-weekly: 1
        keep-monthly: 4
    hooks:
      success:
        - 'curl -X POST {{ oci0_ip_tailscale }}:8080/api/v1/endpoints/external_backup-homeassistant/external?success=true -H "Authorization: Bearer gatus"'
        - 'curl -X POST {{ oci1_ip_tailscale }}:8080/api/v1/endpoints/external_backup-homeassistant/external?success=true -H "Authorization: Bearer gatus"'
      failure:
        - 'curl -X POST {{ oci0_ip_tailscale }}:8080/api/v1/endpoints/external_backup-homeassistant/external?success=false -H "Authorization: Bearer gatus"'
        - 'curl -X POST {{ oci1_ip_tailscale }}:8080/api/v1/endpoints/external_backup-homeassistant/external?success=false -H "Authorization: Bearer gatus"'
  zigbee2mqtt:
    from: {{ services_path }}/zigbee2mqtt
    to:
      - backblaze-zigbee2mqtt
    forget: prune
    options:
      backup:
        host: zigbee2mqtt
      forget:
        keep-last: 2
        keep-daily: 3
        keep-weekly: 1
        keep-monthly: 4
    hooks:
      success:
        - 'curl -X POST {{ oci0_ip_tailscale }}:8080/api/v1/endpoints/external_backup-zigbee2mqtt/external?success=true -H "Authorization: Bearer gatus"'
        - 'curl -X POST {{ oci1_ip_tailscale }}:8080/api/v1/endpoints/external_backup-zigbee2mqtt/external?success=true -H "Authorization: Bearer gatus"'
      failure:
        - 'curl -X POST {{ oci0_ip_tailscale }}:8080/api/v1/endpoints/external_backup-zigbee2mqtt/external?success=false -H "Authorization: Bearer gatus"'
        - 'curl -X POST {{ oci1_ip_tailscale }}:8080/api/v1/endpoints/external_backup-zigbee2mqtt/external?success=false -H "Authorization: Bearer gatus"'
