---
homeassistant: true
permit_join: false
mqtt:
  base_topic: zigbee2mqtt
  server: {{ mqtt_server }}
serial:
  port: /dev/ttyACM0
  disable_led: true
  adapter: zstack
frontend:
  port: 8080
devices: devices.yaml
groups: groups.yaml
advanced:
  log_level: info
