---
services:
  duckdns:
    image: lscr.io/linuxserver/duckdns:256b24bf-ls147
    container_name: duckdns
    security_opt:
      - no-new-privileges:true
    environment:
      - SUBDOMAINS={{ duckdns_domain }}
      - TOKEN={{ duckdns_token }}
    restart: unless-stopped
