{ config, pkgs, ... }: {
  domain = "{{ domain }}";
  email = "{{ letsencrypt_email }}";
  dnsProvider = "{{ letsencrypt_provider }}";
  credentialsFile = "/etc/nixos/{{ letsencrypt_provider }}.env";
}
