* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains", "monospace";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    border-radius: 12px;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left, .modules-center, .modules-right {
    padding: 0 10px;
}

#workspaces button {
    padding: 0 8px;
    color: #777777;
    background: transparent;
}

#workspaces button.active {
    color: #ffffff;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

#pulseaudio, #network, #battery, #tray {
    padding: 0 8px;
}

#tray {
    padding-left: 8px;
    padding-right: 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#tray > widget {
  margin: 0;
}
