---
notify_portfolio_weekly:
  name: Notify portfolio weekly
  has_time: true
  has_date: false

notify_portfolio_monthly:
  name: Notify portfolio monthly
  has_time: true
  has_date: false

notify_portfolio_dividend:
  name: Notify portfolio dividend
  has_time: true
  has_date: false

lights_kitchen_on_morning:
  name: Lights kitchen on morning
  has_time: true
  has_date: false

{% for area in homeassistant_areas %}
lights_{{ area }}_off_morning:
  name: Lights {{ area | replace('_', ' ') }} off morning
  has_time: true
  has_date: false

lights_{{ area }}_off_evening:
  name: Lights {{ area | replace('_', ' ') }} off evening
  has_time: true
  has_date: false

{% endfor %}
