---
{% for area in homeassistant_areas %}
- alias: "Lights {{ area | replace('_', ' ') }} off time morning"
  trigger:
    platform: time
    at: input_datetime.lights_{{ area }}_off_morning
  action:
    service: python_script.control_lights
    data:
      area: "{{ area }}"
      action: "off"

- alias: "Lights {{ area | replace('_', ' ') }} off time evening"
  trigger:
    platform: time
    at: input_datetime.lights_{{ area }}_off_evening
  action:
    service: python_script.control_lights
    data:
      area: "{{ area }}"
      action: "off"

- alias: "Lights {{ area | replace('_', ' ') }} dim"

  trigger:
    platform: template
    value_template: '{% raw %}{{{% endraw %} ((utcnow().strftime("%s") | int + 3600) | timestamp_custom("%H:%M:%S")) == states.input_datetime.lights_{{ area }}_off_evening.state {% raw %}}}{% endraw %}'

  action:
    service: python_script.control_lights
    data:
      area: "{{ area }}"
      action: "dim"

{% endfor %}
