---
- platform: avanza_stock
  scan_interval: 60
  stock:
{% for stock in homeassistant_stocks %}
    - id: {{ stock.id }}
      name: Stock {{ stock.name }}
{% if stock.shares|int != 0 %}
      shares: {{ stock.shares }}
{% else %}
      shares: {{ stock.shares|sum }}
{% endif %}
{%if stock.purchase_price is defined %}
      purchase_price: {{ stock.purchase_price }}
{% endif%}
{%if stock.currency is defined %}
      currency: {{ stock.currency }}
{% endif%}
{% endfor %}
  monitored_conditions:
    - change
    - changePercent
    - dividends
    - name
    - tickerSymbol
    - priceOneMonthAgo
    - priceOneWeekAgo

- platform: avanza_stock
  scan_interval: 60
  stock:
{% for fund in homeassistant_funds %}
    - id: {{ fund.id }}
      name: Fund {{ fund.name }}
{% if fund.shares|float != 0 %}
      shares: {{ fund.shares }}
{% else %}
      shares: {{ fund.shares|sum }}
{% endif %}
{% endfor %}
  monitored_conditions:
    - change
    - changePercent
    - name
    - tickerSymbol
    - priceOneMonthAgo
    - priceOneWeekAgo
