home_city: {{ address_city | default("0") }}
home_street: {{ address_street | default("0") }}

qnap_nas_mac: {{ qnap_mac | default("0") }}
qnap_nas_host: {{ qnap_ip | default("0") }}

ping_rpi0_ip: {{ rpi0_ip | default("0") }}
ping_rpi3_ip: {{ rpi3_ip | default("0") }}
ping_rpi4_ip: {{ rpi4_ip | default("0") }}

sonoff_0_rtsp: -rtsp_transport tcp -i rtsp://rtsp:{{ sonoff_cam0_ip | default() }}/av_stream/ch0
sonoff_1_rtsp: -rtsp_transport tcp -i rtsp://rtsp:{{ sonoff_cam1_ip | default() }}/av_stream/ch0

telegram_api_key: {{ telegram_token | default("0") }}
telegram_chat_id: {{ telegram_chatids | default(0) }}

tradfri_shourtcut_button_0_device_id: {{ tradfri_shourtcut_button_0_device_id | default("0") }}
tradfri_shourtcut_button_0_action_on: {{ tradfri_shourtcut_button_0_discovery_id | default() }} action_on
tradfri_shourtcut_button_0_action_brightness_move_up: {{ tradfri_shourtcut_button_0_discovery_id | default() }} action_brightness_move_up
tradfri_shourtcut_button_0_action_brightness_stop: {{ tradfri_shourtcut_button_0_discovery_id | default() }} action_brightness_stop

xiaomi_wireless_switch_0_device_id: {{ xiaomi_wireless_switch_0_device_id | default("0") }}
xiaomi_wireless_switch_0_discovery_id_action_single: {{ xiaomi_wireless_switch_0_discovery_id | default() }} action_single
xiaomi_wireless_switch_0_discovery_id_action_double: {{ xiaomi_wireless_switch_0_discovery_id | default() }} action_double
xiaomi_wireless_switch_0_discovery_id_action_hold: {{ xiaomi_wireless_switch_0_discovery_id | default() }} action_hold

nfc_blue_tag_id: {{ nfc_blue_tag_id | default() }}

bathroom_message: {{ bathroom_message | default() }}
