---
- trigger:
    - platform: time_pattern
      hours: "*"
      minutes: "/1"
  sensor:
{% for sensor in static_template_sensors %}
    - name: {{ sensor.name }} {{ sensor.state }}
      unit_of_measurement: "{{ sensor.unit_of_measurement }}"
      state_class: measurement
{% if sensor.device_class is defined %}
      device_class: {{ sensor.device_class }}
{% endif %}
      state: {{ sensor.state }}
{% endfor %}
